apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{ apiserver_endpoint }}:6443"
networking:
  podSubnet: {{ podsubnet }}
apiServer:
  certSANs:
  - "{{ apiserver_endpoint }}"
{% for host in groups['controller'] %}
  - "{{ host }}"
{% endfor %}
