stream {
    upstream kubernetes {
      {% for host in groups['controller'] %}
        server {{ host }}:6443 max_fails=3 fail_timeout=61s;
      {% endfor %}
    }

    server {
        listen 6443;
        listen 443;
        proxy_pass kubernetes;
    }
}
